@import "src/styles/variables";

header {
  width: 100%;
  height: $header-height;
  max-height: $header-height;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  display: flex;
  align-items: center;
}

h2 {
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.74);
  font-weight: normal;
  font-size: 1.2rem;
}
