.border-wrap {
  padding: 3px;
  border-radius: 1.6875rem;
  position: relative;
  backdrop-filter: blur(47px);
}

.widget-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
  padding: 1.875rem;
  align-content: flex-start;

  width: 100%;
  background: linear-gradient(144deg, #2e258114 0%, #104e4b1f 100%);

  border-radius: 1.5rem;
  background-blend-mode: OVERLAY;
  box-shadow: 0px 1.1966018676757812px 29.91504669189453px 0px
    rgba(69, 42, 124, 0.1);
}
