<div class="border-wrap">
  <div class="widget-wrapper">
    <ng-container *ngIf="address">
      <div class="widget-header">
        <app-time-date></app-time-date>
        <app-address-input
          [placeholder]="'Search for a city'"
          [(value)]="address.city"
          (valueChange)="onInputValueChanged()"
        ></app-address-input>
        <div class="address-data-container">
          <h1>{{ this.address.city | uppercase }}</h1>
          <h3>{{ this.address.country }}</h3>
        </div>
      </div>
    </ng-container>

    <div class="weather-data-container">
      <app-today-weather
        [todayWeatherData]="todayWeatherData"
      ></app-today-weather>
      <app-hourly-forecast [timeline]="timeline"></app-hourly-forecast>
      <app-weekly-forecast
        [weeklyTimeline]="weeklyTimeline"
      ></app-weekly-forecast>
    </div>
    <a [routerLink]="['/events']">Events</a>
  </div>
</div>
