
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Modsen-Weather-Task-primary: mat.define-palette(mat.$indigo-palette);
$Modsen-Weather-Task-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Modsen-Weather-Task-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Modsen-Weather-Task-theme: mat.define-light-theme((
  color: (
    primary: $Modsen-Weather-Task-primary,
    accent: $Modsen-Weather-Task-accent,
    warn: $Modsen-Weather-Task-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Modsen-Weather-Task-theme);

// CSS Reset
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
}

body {
  font-family: SF Pro Display;
  font-style: normal;
  background-image: url("https://www.wallpaperflare.com/static/521/19/792/road-mist-mountains-landscape-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

i {
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 00;
  cursor: pointer;
}

.glass-container {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}

@media (max-width: 767px) {
  body {
    background-size: contain;
    background-color: rgb(48, 48, 48);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
